{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About {% endblock %}</h1>
<h3>Welcome to FlaskShortener!</h3>
<p>
    This is a pet project based on the <a
        href="https://www.digitalocean.com/community/tutorials/how-to-make-a-url-shortener-with-flask-and-sqlite">tutorial</a>.
    You can find out what was added to the source code <a
        href="https://github.com/viktoryest/url_shortener">here</a>. Presently
    the project is in development.
</p>

<p>You can get a short link, but due to the nature of Heroku, it will only last for 30 minutes.</p>
<p>In the <a href="{{ url_for('stats') }}">Statistics</a>, you can find out how many times the link has been used.</p>
<p>There are also <a href="{{ url_for('sign_up') }}">Sign ip</a> and <a href="{{ url_for('sign_in') }}">Sign in</a>
    pages.
</p>

{% endblock %}