{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to FlaskShortener {% endblock %}</h1>
<form method="post">
    <div class="mb-2">
        <label id="url"><span class="ps-1">URL</span></label>
    </div>
    <div class="mb-3">
        <input type="text" name="url"
               placeholder="URL to shorten" class="form-control"
               value="{{ request.form['url'] }}" autofocus>
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% if short_url %}
<hr>
<span>{{ short_url }}</span>
{% endif %}
{% endblock %}
