{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}
{% block content %}
<form style="width: 500px" method="post">
    <h1>Please sign in</h1>
    <div class="form-floating">
        <div class="mb-2">
            <label id="username"><span class="ps-1">Enter username</span></label>
        </div>
        <div class="mb-2">
            <input type="text" name="username"
                   placeholder="Username" class="form-control" autofocus>
        </div>
        <div class="mb-2">
            <label id="password"><span class="ps-1">Enter password</span></label>
        </div>
        <div class="mb-2">
            <input type="password" name="password"
                   placeholder="Password" class="form-control">
        </div>
    </div>
    {% if message %}
    <span>{{ message }}</span>
    {% endif %}
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
{% endblock %}